<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.9.0/simple-lightbox.css">
  <title>Document</title>
</head>
<body>
  <header class="page-header">
  <div class="page-header-form">
  <form class="search-form" id="search-form">
    <input
    class="form-input"
      type="text"
      id="query"
      name="query"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button type="submit" class="btn">
      <svg width="24" height="24" class="svg-img">
        <use href="./images/sprite.svg#search"></use>
      </svg>
    </button>
  </form>
</header>
</div>
  <div class="container">
    <ul class="gallery-list">
      <!-- Список <li> с карточками изображений -->
    </ul>
  </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.9.0/simple-lightbox.min.js "></script>
</body>
</html>